development:
  directory: dist
  store: your-site.myshopify.com
  password: your-admin-api-password
  theme_id: your-theme-id

production:
  directory: dist
  store: your-site.myshopify.com
  password: your-admin-api-password
  theme_id: your-theme-id
