<div class="template-page">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title fs-2">{{ page.title | escape }}</h1>
        <div class="card-text">{{ page.content }}</div>
      </div>
    </div>
  </div>
</div>
<!-- /.template-page -->