{% layout 'password' %}

<div class="template-password">
  <div class="template-password__message">
    <h1 class="display-2 mb-3">Opening Soon</h1>

    {% if shop.password_message != blank %}
      <p class="lead">{{ shop.password_message }}</p>
    {% else %}
      <p class="lead">
        <span class="d-inline-block">This store is password protected.</span>
        <span class="d-inline-block">Use the password to enter the store.</span>
      </p>
    {% endif %}
  </div>

  <div class="template-password__form">
    {% form 'storefront_password' %}

      {% render 'form-message' form: form %}

      <div class="input-group mb-3">
        <input class="form-control" name="password" placeholder="Your store password" type="password">
        <button class="btn btn-primary" type="submit">Enter</button>
      </div>

      <div class="form-text">
        Are you the store owner?
        <a href="/admin">Log in here</a>
      </div>
    {% endform %}
  </div>
</div>
<!-- /.template-password -->
