<template code>
  <section class="tempate-index">
    {{ content_for_index }}
    <h1>Hello World!</h1>
  </section>
</template>

<style code>
  .tempate-index {
    background-color: yellow;
  }
</style>

<script code>
  console.log('template-index');
</script>
