<template code>
  <section class="tempate-index">
    {{ content_for_index }}
  </section>
</template>

<style code>
  .tempate-index {
  }
</style>

<script code>
  console.log('template-index');
</script>
