<section class="tempate-index">
  <h1>Shopify Base Theme</h1>
  {{ content_for_index }}

  <button class="mdc-button mdc-button--raised">
    <span class="mdc-button__label">Test</span>
  </button>
</section>

<style code></style>

<script code></script>
