<template code>
  <section class="tlp-index">
    <h1 class="tpl-index__title">Hello</h1>
    {{ hello }}
  </section>
</template>

<style code>
  .tlp-index {
    background: #000;

    &__title {
      background-color: red;
    }
  }
</style>

<script code>
  alert();
</script>
