{% render 'page-header' title: 'Collections' %}

<div class="template-list-collections">
  <div class="container">
    <div class="row">
      {% for collection in collections %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          {% render 'collection-item' collection: collection %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- /.template-list-collections -->
