<br/>
<div class="template-product">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-5">
        {% render 'product-carousel' product: product %}
      </div>
      <div class="col-md-12 col-lg-7">
        <hr>
        {% form "product", product %}
          <select name="id">
            {% for variant in product.variants %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}
                -
                {{ variant.price | money }}</option>
            {% endfor %}
          </select>

          <input name="quantity" type="text" value="1"/>

          <input type="submit" value="Add to cart"/>
        {% endform %}
      </div>
    </div>
  </div>
</div>
<!-- /.template-product -->