<div class="snippet-page-header">
  <div class="container">
    <h1 class="snippet-page-header__title">{{ title }}</h1>
    <div class="snippet-page-header__desc">{{ description }}</div>
  </div>
</div>