<div class="snippet-page-header">
  <h1 class="snippet-page-header__title">{{ title }}</h1>
  <div class="snippet-page-header__desc">{{ description }}</div>
</div>

<style code>
  .snippet-page-header {
    padding: 0 10px;

    &__desc {
      margin-bottom: 20px;
    }
  }
</style>