$side-width: 300px;
$content-width: 1200px - $side-width;

.global-grid {
  display: grid;
  grid-template-columns: 100%;

  @media (min-width: 600px) {
    grid-template-columns: 50% 50%;
  }

  @media (min-width: 1000px) {
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  }

  @media (min-width: 1400px) {
    grid-template-columns: 25% 25% 25% 25%;
  }

  @media (min-width: 1800px) {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  @media (min-width: 2200px) {
    grid-template-columns:
      calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6)
      calc(100% / 6);
  }

  @media (min-width: 2600px) {
    grid-template-columns:
      calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7)
      calc(100% / 7) calc(100% / 7);
  }

  @media (min-width: 3000px) {
    grid-template-columns:
      calc(100% / 8) calc(100% / 8) calc(100% / 8) calc(100% / 8) calc(100% / 8)
      calc(100% / 8) calc(100% / 8) calc(100% / 8);
  }

  @media (min-width: 3400px) {
    grid-template-columns:
      calc(100% / 9) calc(100% / 9) calc(100% / 9) calc(100% / 9) calc(100% / 9)
      calc(100% / 9) calc(100% / 9) calc(100% / 9) calc(100% / 9);
  }

  @media (min-width: 3800px) {
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  }
}

.global-content {
  max-width: #{$content-width};
  margin: 0 auto;
  padding-top: 10px;

  &__card {
    margin-left: -#{$side-width};
  }

  &__content {
    padding-bottom: 30px;
    color: var(--ion-text-color, #333);
  }

  @media (max-width: $content-width + $side-width * 3 + 40px) {
    max-width: 100%;

    &__card {
      margin-left: 10px;
    }
  }
}
