<div class="template-customer-activate-account container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="card">
        <h1 class="card-header fs-3 text-center">Activate Account</h1>
        <div class="card-body">
          {% form 'activate_customer_password' %}
            {% render 'form-message' form: form %}

            <div class="mb-3">
              <label class="form-label" for="account-activate-password">Password</label>
              <input class="form-control" id="account-activate-password" name="customer[password]" size="30" type="password"/>
            </div>

            <div class="mb-3">
              <label class="form-label" for="account-activate-password-confirmation">Password Confirmation</label>
              <input class="form-control" id="account-activate-password-confirmation" name="customer[password_confirmation]" size="30" type="password"/>
            </div>

            <input class="btn btn-primary" type="submit" value="Activate Account"/>
            <input class="btn btn-secondary" name="decline" type="submit" value="Decline Invitation"/>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.template-customer-activate-account -->