{% render 'page-header' title: page_title %}

<div class="template-customer-addresses">
  <div class="container">
    <div class="row">
      {% for address in customer.addresses %}
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              {{ address | format_address }}

              <form action="/account/addresses/{{ address.id }}" data-confirm-message="dfdfd" method="post">
                <input name="_method" type="hidden" value="delete"/>
                <button class="btn btn-sm btn-primary" data-bs-target="#modal-{{ address.id }}" data-bs-toggle="modal" type="button">
                  Edit
                </button>
                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
              </form>


              {% render 'address-form' address: address %}

            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- /.template-customer-addresses -->