<div class="template-customer-reset-password container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="card">
        <h1 class="card-header fs-3 text-center">Reset Password</h1>
        <div class="card-body">
          {% form 'reset_customer_password' %}
            {% render 'form-message' form: form %}

            <div class="mb-3">
              <label class="form-label" for="account-reset-password">Password</label>
              <input class="form-control" id="account-reset-password" name="customer[password]" size="30" type="password"/>
            </div>

            <div class="mb-3">
              <label class="form-label" for="account-reset-password-confirmation">Password Confirmation</label>
              <input class="form-control" id="account-reset-password-confirmation" name="customer[password_confirmation]" size="30" type="password"/>
            </div>

            <button class="btn btn-primary" type="submit">Reset Password</button>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.template-customer-reset-password -->