.section-featured-products {
  margin-bottom: 30px;

  &__swiper-slide {
    height: auto;
  }

  &__swiper-control {
    width: 5%;
    transition-duration: 0.3s;
  }

  &:hover {
    .section-featured-products__swiper-control {
      background: rgba($color: #000000, $alpha: 0.1);
    }
  }
}
