@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/smartmenus-bootstrap-4/jquery.smartmenus.bootstrap-4.css';

@import './layout/theme.scss';
@import './layout/password.scss';

@import './snippets/page-header.scss';
@import './snippets/product-carousel.scss';

@import './templates/customers/login.scss';
@import './templates/article.scss';
@import './templates/blog.scss';
@import './templates/collection.scss';
@import './templates/gift_card.scss';
@import './templates/list-collections.scss';
@import './templates/password.scss';
@import './templates/product.scss';
@import './templates/search.scss';
